:root {
  --main-bg-color: #242424;
  --main-fg-color: rgb(255 255 255 / 87%);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#app {
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 2rem;
}

button:hover:not(:disabled) {
  cursor: pointer;
}

.filled-btn {
  flex: 1;
  border: none;
  border-radius: 0.25em;
  font-size: inherit;
  padding: 0.4em;
}

.green-btn {
  background-color: hsl(144, 100%, 40%);
}
.green-btn:hover {
  background-color: hsl(144, 100%, 35%);
}
.green-btn:active {
  background-color: hsl(144, 100%, 30%);
}

.red-btn {
  background-color: hsl(2, 80%, 50%);
}
.red-btn:hover {
  background-color: hsl(2, 80%, 45%);
}
.red-btn:active {
  background-color: hsl(2, 80%, 40%);
}

.flex\:column {
  display: flex;
  flex-direction: column;
}
.flex\:row {
  display: flex;
  flex-direction: row;
}

input[type="text"] {
  font-size: inherit;
  margin: 0;
  padding: 0.4em;
  border-radius: 0.25em;
  outline: none;
  border: 0px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.card {
  /*padding: 0.5em 1em;*/
  padding: 0.3em 0;
  border-radius: 0.6em;
  background-color: rgb(255 255 255 / 5%);
}